<div>
  <h4 class="my-4 font-weight-bold" *ngIf="routeParam=='add'">Add students</h4>
  <h4 class="my-4 font-weight-bold" *ngIf="routeParam=='delete'">Delete students</h4>
  <a id="close-text-ref" href="/course/{{courseId}}">Close</a>
</div>

<div id="student-list" class="mt-2 mr-5">
  <ul class="list-group list-group-custom" *ngFor="let tempStudent of students">
    <li class="list-group-item list-group-item-action">
      {{tempStudent.id}} {{tempStudent.firstName}} {{tempStudent.lastName}}
      <button *ngIf="routeParam=='add'" type="submit" class="btn btn-custom float-right" (click)="addStudentToCourse(tempStudent.id)">Add</button>
      <button *ngIf="routeParam=='delete'" type="submit" class="btn btn-dark float-right" (click)="deleteStudentFromCourse(tempStudent.id)">Delete</button>
    </li>
  </ul>
</div>
