<div class="container mx-4">

<!--Course name-->
<div id="course-name" class="mt-5 mr-5">
<div *ngIf="isClicked==false; then show else edit "></div>

<ng-template #show><h2 id="course-name-heading" class="font-weight-bold"
                       (dblclick)="setClicked()">{{currentCourse?.name}}</h2></ng-template>

<ng-template #edit>
    <input id="course-name-heading-edit" class="form-control"
             [(ngModel)]="currentCourse.name" [ngModelOptions]="{standalone: true}" (keyup.enter)="editCourse()">
</ng-template>

  <p><small class="text-muted">Double click on course name to modify</small></p>
</div>

<!-- Add / Delete student buttons -->
<a routerLink="/course/{{currentCourseId}}/student/add" class="btn btn-custom mr-2">Add student</a>
<a routerLink="/course/{{currentCourseId}}/student/delete" class="btn btn-custom mr-2">Student list</a>
<router-outlet></router-outlet>

  <hr class="mr-5">

<!-- Add topic -->
<div id="add-topic" class="mr-5 my-4">
  <h4 class="my-4 font-weight-bold">Add new topic</h4>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Topic name"
           [(ngModel)]="topicName" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-custom" (click)="addNewTopic()">Add</button>
  </div>
</div>

<hr class="mr-5">

<!-- Topic's list -->
<h4 class="my-4 font-weight-bold">Topic List</h4>
<div id="topics-list" class="mr-5">
  <ul class="list-group list-group-custom" *ngFor="let tempTopic of topics">
  <li class="list-group-item list-group-item-action">
  <a id="topic-list-item-text"
    routerLink="/topics/{{ tempTopic.id }}" routerLinkActive="active-link">{{tempTopic.name}}</a>
    <button type="submit" class="btn btn-dark float-right"
            (click)="deleteTopic(tempTopic.id)">Delete</button>
  </li>
  </ul>
</div>

</div>
