<div>
  <form>
    <label>Course name:</label>
    <input [(ngModel)]="courseName" [ngModelOptions]="{standalone: true}">
    <span style="padding-left: 10px">
      <button (click)="addNewCourse()">Add</button>
    </span>
    <br><br>
  </form>
</div>

<div *ngFor="let tempCourse of courses">
  <a routerLink="/course/{{ tempCourse.id }}" routerLinkActive="active-link">
    {{tempCourse.name}}</a>
  <span style="padding-left: 10px">
    <button (click)="deleteCourse(tempCourse.id)">Delete</button>
  </span>
  <br><br>
</div>

