<div class="container mx-4">

  <!-- Add new Course -->
  <div id="add-course" class="mr-5 mt-5 mb-4">
    <h3 class="my-3 font-weight-bold">Add a new course</h3>
    <div class="form-group">
      <input id="add-course-input" type="text" class="form-control mb-2" placeholder="Course name"
             [(ngModel)]="courseName" [ngModelOptions]="{standalone: true}">
      <div class="alert alert-warning" *ngIf="blankName, else elseBlock">Please write a <strong>name</strong> for new course</div>
    </div>
    <ng-template #elseBlock>
      <div id="alert-course-success" class="alert alert-success mr=5 collapse" role="alert">
        New course added!
      </div>
    </ng-template>
    <div class="form-group">
      <button id="btn-add-course" type="submit" class="btn btn-add" (click)="addNewCourse()">Add</button>
    </div>
  </div>

  <hr class="mr-5">

<!-- Courses list -->
  <h3 class="my-4 font-weight-bold">Available courses</h3>
  <div id="courses-list" class="mr-5">
      <ul class="list-group list-group-custom" *ngFor="let tempCourse of courses">
        <li class="list-group-item list-group-item-action">
          <a id="course-list-item-text"
             routerLink="/course/{{ tempCourse.id }}"
             routerLinkActive="active-link">{{tempCourse.name}}</a>
          <button id="btn-delete-course" type="submit" class="btn btn-dark float-right"
                  (click)="deleteCourse(tempCourse.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>









