<!-- Courses list -->
<h4>Available courses</h4>
<br>
<div id="courses-list">
<ul class="list-group" *ngFor="let tempCourse of courses">
  <li class="list-group-item list-group-item-action">
    <a routerLink="/course/{{ tempCourse.id }}" routerLinkActive="active-link">{{tempCourse.name}}</a>
    <button type="submit" class="btn btn-primary float-right" (click)="deleteCourse(tempCourse.id)">Delete</button>
  </li>
</ul>
</div>
<br>

<!-- Add new Course -->
<div>
  <h5 class="my-4">Add new course</h5>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Course name" [(ngModel)]="courseName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="addNewCourse()">Add</button>
    </div>
</div>


