<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <div [hidden]="submitted">
              <form class="user" (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="First Name"
                           required="required" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel">
                    <div [hidden]="firstName.valid || firstName.pristine"
                         class="alert alert-danger mt-2">
                      First Name is required
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="Last Name"
                           required="required" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel">
                    <div [hidden]="lastName.valid || lastName.pristine"
                         class="alert alert-danger mt-2">
                      Last Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" placeholder="username"
                         required="required" [(ngModel)]="user.username" name="username" #username="ngModel">
                  <div [hidden]="username.valid || username.pristine"
                       class="alert alert-danger mt-2">
                    Username is required
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address"
                         required="required" [(ngModel)]="user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                  <div *ngIf="email.invalid && email.touched"
                       class="alert alert-danger mt-2">
                    <div *ngIf="email.errors.pattern"> Email is invalid. Enter valid email address </div>
                    <div *ngIf="email.errors.required"> Email is required </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" class="form-control form-control-user" required #password="ngModel"
                           minlength="6"/>
                    <div *ngIf="password.invalid && password.touched" class="alert alert-danger mt-2">
                      <div *ngIf="password.errors.required"> Password is required. </div>
                      <div *ngIf="password.errors.minlength"> Password should contain minimum 6 symbols </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <input type="password" [(ngModel)]="user.confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control form-control-user" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
                    <div *ngIf=" confirmpassword.invalid && confirmpassword.touched" class="alert alert-danger mt-2">
                      <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
                      <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-custom btn-user btn-block"
                        [disabled]="!heroForm.form.valid">Register Account</button>
              </form>
            </div>
            <hr>
            <div class="text-center">
              <a id="forgot-pw-link" class="small" routerLink="resetpassword" (click)="goToResetpasswordPage()" >Forgot Password?</a>
            </div>
            <div class="text-center">
              <a id="login-link" class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
