<div class="container mx-4">

<!--Topic name-->
  <div id="topic-name" class="mt-5 mr-5">
<div *ngIf="!searchMode">
<div *ngIf="isClicked==false; then show else edit "></div>

<ng-template #show><h2 id="topic-name-heading" class="font-weight-bold"
                       (dblclick)="setClicked()">{{currentTopic?.name}}</h2>
</ng-template>

<ng-template #edit>
  <h2><input id="topic-name-heading-edit" class="form-control"
    [(ngModel)]="currentTopic.name" [ngModelOptions]="{standalone: true}" (keyup.enter)="editTopic()"></h2>
</ng-template>
  <p><small class="text-muted">Double click on topic name to modify</small></p>
</div>

<!-- Add / Delete teacher buttons -->
<a routerLink="/topics/{{currentTopicId}}/teacher/add" class="btn btn-custom mr-2">Add Teacher</a>
<a routerLink="/topics/{{currentTopicId}}/teacher/delete" class="btn btn-custom mr-2">Delete Teacher</a>
<router-outlet></router-outlet>
</div>

  <hr class="mr-5">

  <!-- Add lesson -->
  <div *ngIf="!searchMode" class="mr-5">
    <h4 class="my-4 font-weight-bold">Add a new lesson</h4>
    <form class="mb-5">
      <div class="form-group form-inline">
        <label class="mr-3">Subject:</label>
        <input type="text" class="flex-fill form-control"  [(ngModel)]="lessonSubject" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group form-inline">

        <label class="mr-3 pr-3">Date:</label>
        <input type="date" class="form-control flex-fill"
               [(ngModel)]="lessonDate" min="{{todayDate | date:'yyyy-MM-dd'}}"
               [ngModelOptions]="{standalone: true}">

        <label class="mx-3">Start time:</label>
        <input type="time" class="form-control flex-fill" 
               [(ngModel)]="lessonStartTime" min="{{timeNow | date:'H:mm':'UTC'}}" [ngModelOptions]="{standalone: true}">
      
      
        <label class="mx-3">End time:</label>
        <input type="time" class="form-control flex-fill" 
               [(ngModel)]="lessonEndTime" [ngModelOptions]="{standalone: true}">

      <button type="submit" class="btn btn-custom ml-3"(click)="addNewLesson()">Add</button>
      </div>
    </form>
  </div>


  <hr class="mr-5">

<!-- Lessons's list -->
<h4 class="my-4 font-weight-bold">Lessons</h4>
<div id="lessons-list" class="mr-5">
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Subject</th>
    <th scope="col">Date</th>
    <th scope="col">Start time</th>
    <th scope="col">End time</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempLesson of lessons">
    <td scope="row"></td>
    <td>{{tempLesson.subject}}</td>
    <td>{{tempLesson.date}}</td>
    <td>{{tempLesson.startTime}}</td>
    <td>{{tempLesson.endTime}}</td>
    <td><button type="submit" class="btn btn-dark" (click)="deleteLesson(tempLesson.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
</div>

</div>
