<form class="d-none d-sm-inline-block form-inline mr-auto pl-3 ml-4 md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input #myInput type="text" class="form-control border-0 small bg-dark text-light"
           placeholder="Search for a lesson..." aria-label="Search" aria-describedby="basic-addon2"
           (keyup.enter)="doSearch(myInput.value)">
    <div class="input-group-append">
      <button id="search-button" (click)="doSearch(myInput.value)" class="btn btn-dark">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
