<body>
<!-- Show register page if user clicked register -->
<div *ngIf=clickRegister>
 <app-registration></app-registration>
</div>

<div *ngIf=clickResetPassword>
  <app-resetpassword></app-resetpassword>
</div>

<div class="container" *ngIf="!clickRegister && !clickResetPassword">

  <!-- Outer Row -->
  <div class="row justify-content-center" *ngIf="!basicAuthenticationService.isUserLoggedIn()">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome to UpCourse!</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="text" name="username" [(ngModel)]="username"
                           class="form-control form-control-user form-control-custom" placeholder="Enter username...">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" [(ngModel)]="password"
                           class="form-control form-control-user form-control-custom" placeholder="Password">
                  </div>
                  <div class="alert alert-warning" *ngIf="invalidLogin">Invalid Credentials</div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button (click)=handleJwtAuthLogin() class="btn btn-custom btn-user btn-block">Login</button>
                </form>
                <hr>
                <div class="text-center">
                  <a id="forgot-password-link" class="small" routerLink="resetpassword" (click)="clickedResetPassword()">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a id="create-account-link" class="small" routerLink="registration" (click)="clickedRegister()">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

</body>

<h3 *ngIf="basicAuthenticationService.isUserLoggedIn()">You are already logged in</h3>
