body {
  background-color: #212125;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}

.login-card .card-body {
  padding: 60px 60px 60px; }
@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px; } }

.login-card-description {
  font-size: 30px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px; }

.login-card form {
  max-width: 326px;
}
.form-control:focus {
  border-color: #a3de83;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-custom {
  background-color: #a3de83;
  font-weight: bolder;
  min-width: 150px;
}

.btn-custom:hover {
  background-color: #239d60;
}

.btn-custom:focus {
  border-color: #a3de83;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#forgot-password-link, #create-account-link {
  color: #239d60;
}

.custom-control-input:checked~.custom-control-label::before {
  color: white !important;
  background-color: #239d60 !important;
  border-color: #a3de83;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.custom-control-input:focus~.custom-control-label::before {
  border-color: #a3de83 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #a3de83 !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}
