.btn-custom {
  background-color: #a3de83;
  font-weight: bolder;
  min-width: 150px;
}

.btn-custom:hover {
  background-color: #239d60;
}

.btn-custom:focus {
  border-color: #a3de83;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control:focus {
  border-color: #a3de83;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#register-link, #login-link-2{
  color: #239d60;
}
